<div class="container-fluid">
  <!-- Top navbar -->
  <nav
    class="navbar fixed-top navbar-expand bg-body-tertiary bg-dark"
    style="height: 52px">
    <div class="collapse navbar-collapse bg-dark">
      <ul class="navbar-nav me-auto mb-2">
        <li class="nav-item">
          <h4 class="text-light mx-auto me-5 mt-2 hidenavitem">
            <b>Envato</b><span class="text-success"><b>market</b></span>
          </h4>
        </li>
      </ul>
      <div class="hidenavitem">
        <button class="btn btn me-3 btn-sm btnBuyNow" type="submit">buy Now</button>
      </div>
    </div>
  </nav>
  
  <!-- Contact Info Navbar -->
<div class="navbar1">
  <nav class="navbar mt-5 navbar-expand bg-body-tertiary" style="height: 42px">
    <div class="collapse navbar-collapse navbar1">
      <ul class="navbar-nav me-auto mb-2">
        <li class="ms-5">
          <a href="" class="text-white nav-link">
            <i class="fa fa-envelope-o ms-5 envelope"></i> info@example.com</a>
        </li>
        <li class="ms-5">
          <a href="" class="text-white nav-link me-5"
            ><i class="fa fa-phone ms-5 envelope"></i> +91-7052-101-786</a>
        </li>

        <li class="ms-5 mt-2">
          <a href="" class="text-white ms-5"
            ><i class="fa fa-facebook fa-lg"></i
          ></a>
        </li>
        <li class="ms-3 mt-2">
          <a href="" class="text-white"
            ><i class="fa fa-instagram fa-lg"></i
          ></a>
        </li>
        <li class="ms-3 mt-2">
          <a href="" class="text-white"><i class="fa fa-twitter fa-lg"></i></a>
        </li>
        <li class="ms-3 mt-2">
          <a href="" class="text-white">
            <i class="fa fa-youtube-play fa-lg"></i></a>
        </li>
      </ul>
    </div>
  </nav>

</div>
<!-- Main Navbar -->
<div class="">
  <nav [class.fixed-top]="isNavbarFixed"class="navbar navbar-expand mt-5 bg-white shadow">
<div class="collapse navbar-collapse navbar2">
  <div class="mt-4 d-flex justify-content-start">
 
  </div>
  <div class=" ">
    <ul class="navbar-nav me-auto mb-2 ">
    <img src="./assets/logo.png" alt="" class="compName mt-4 img-responsive">
    <li class="mt-4 hideContaint">
        <a routerLink="Home" class="text-dark nav-link ms-5 me-3 btnhover">
          <b>Home </b><i class="fa fa-plus fa-sm"></i></a>
      </li>
      <li class="ms-3 mt-4 hideContaint">
        <a routerLink="AboutUs" class="text-dark nav-link me-3">
          <b>About Us </b><i class="fa fa-plus fa-sm"></i></a>
      </li>
      <li class="ms-3 mt-4 hideContaint">
        <a routerLink="Service" class="text-dark nav-link me-3 btnhover">
          <b>Services </b><i class="fa fa-plus fa-sm"></i></a>
      </li>
      <li class="ms-3 mt-4 hideContaint">
        <a routerLink="Gallery" class="text-dark nav-link me-3 btnhover">
          <b>Gallery </b><i class="fa fa-plus fa-sm"></i></a>
      </li>
      <li class="ms-3 mt-4 hideContaint">
        <a routerLink="ContactUs" class="text-dark nav-link me-3 btnhover">
          <b>Contact </b><i class="fa fa-plus fa-sm"></i></a>
      </li>
       <li class="mt-4 hideContaint">
        <a routerLink="Team-Details" class="text-dark nav-link me-3 btnhover">
          <b>Team Details </b><i class="fa fa-plus fa-sm"></i></a>
      
    </ul>
  </div> 
<div class="bars">
  <a class="btn btn-outline-dark btn-floating m-1 hideBars" role="button"  *ngIf="isSidebarOpen" (click)="toggleSidebar()"><i class="fa fa-close fa-lg"></i></a>
  <a class="btn btn-outline-dark btn-floating m-1 hideBars" role="button"  *ngIf="!isSidebarOpen" (click)="toggleSidebar()"><i class="fa fa-bars fa-lg"></i></a>
</div>
</div>
</nav>
</div>

 <div class="container-fluid">
  <router-outlet></router-outlet>
 </div>
 <div class="search">
  <div class="sidebar m" [class.active]="isSidebarOpen">
    <ul class="mt-5" style="list-style-type: none;">
      <br>
      
          <li class="mt-4">
        <a routerLink="Home" (click)="toggleSidebarClose()" class="text-dark nav-link ms-5 me-3 btnhover">
          <b>HOME </b></a>
      </li>
      <li class="nav-item mt-3">
          <a routerLink="AboutUs"(click)="toggleSidebarClose()" class="nav-link active ms-5 text-dark me-5">
            <i class="fa fa-about"></i> <b>ABOUT Us</b></a>
        </li>
        <li class="nav-item mt-3">
          <a routerLink="Service"(click)="toggleSidebarClose()" class="nav-link active ms-5 text-dark me-5"><b>SERVICES</b></a>
        </li>
        <li class="nav-item mt-3">
          <a routerLink="Gallery"(click)="toggleSidebarClose()" class="nav-link active ms-5 text-dark me-5"><b>GALLERY</b></a>
        </li>
        <li class="nav-item mt-3">
          <a routerLink="ContactUs"(click)="toggleSidebarClose()" class="nav-link active ms-5 text-dark me-3" > <b>CONTACT Us</b></a>
        </li>
        <li class="nav-item mt-3">
          <a routerLink="Team-Details"(click)="toggleSidebarClose()" class="nav-link active ms-5 text-dark me-3" ><b>TEAM DETAILS</b></a>
        </li>
        
    </ul>
   
  </div>
</div> 
 <footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
  </section>
  <section class="">
    <div class="container-fluid text-center text-md-start mt-5 FQA">
      <div class="row mt-3">
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4 ">
          <h3 class="fw-bold mb-4 mt-5 text-light">
            <i class="fa fa-gem me-3"></i>Decare.
          </h3>
          <p class=" text-light">
            Mauris non nisi semper, lacinia neque in, dapibus leo. Curabitur sagittis libero tincidunt tempor finibus. Mauris at dignissim ligula, nec tristique orci.Quisque vitae metus.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 mt-5 text-light">
            Other Links
          </h6>
          <p>
            <a href="#!" class="text-light">Angular</a>
          </p>
          <p>
            <a href="#!" class="text-light">React</a>
          </p>
          <p>
            <a href="#!" class="text-light">Vue</a>
          </p>
          <p>
            <a href="#!" class="text-light">Laravel</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4  text-light mt-5">
            Our Services
          </h6>
          <p>
            <a href="#!" class="text-light">Pricing</a>
          </p>
          <p>
            <a href="#!" class=" text-light">Settings</a>
          </p>
          <p>
            <a href="#!" class=" text-light">Orders</a>
          </p>
          <p>
            <a href="#!" class=" text-light">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4 mt-5 text-light">Contact Us</h6>
          <p class=" text-light"><i class="fa fa-home me-3"></i> New York, NY 10012, US</p>
          <p class=" text-light">
            <i class="fa fa-envelope me-3"></i>
            info@example.com
          </p>
          <p class=" text-light"><i class="fa fa-phone me-3"></i> + 01 234 567 88</p>
          <p class=" text-light"><i class="fa fa-print me-3"></i> + 01 234 567 89</p>
        </div>
      </div>
    
    </div>
  </section>
</footer>
</div>
