.btnBuyNow{
    background-color: rgb(156, 226, 76);
}
.navbar1{
    background-color: rgb(29, 29, 71);
}
@media  (max-width: 766px) {
    .navbar1{
        display: none;
    }
    .hideContaint{
        display: none;
    }    
}
@media  (min-width: 766px) {
    .hideBars{
        display: none;
    }
}
 
 
.envelope{
    color: rgb(169, 169, 209);
}
.compName{
    color:  rgb(39, 39, 92);
}
.bookApointment {
    width: 300px;
    height: 60px;
    background: linear-gradient(to right, #7090fa, #3166f8);
    background-color: blue;  
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.bookApointment:hover {
    background: linear-gradient(to right, #3166f8, #7090fa);
}

.background-card{
    background: linear-gradient(to right, rgb(222, 224, 252), rgb(247, 247, 248));
}
.background{
    background: linear-gradient(to right, rgb(245, 245, 248), rgb(222, 224, 252));
}
 
.nav-link.btnhover:hover {
    color: rgb(72, 72, 185) !important;
}
.WecomeTag{
    color: rgb(90, 90, 252);
}
.getCallBack{
    width: 50px;
    height: 90px;
}

.GetCallButton {
     width: 170px;
    height: 70px;
    background: linear-gradient(to right, #7090fa, #3166f8);
    background-color: blue;  
    transition: background-color 0.3s ease;
    border-radius: 5px;
}
.SubmitBtn{
    width: 170px;
    height: 70px;
    background: linear-gradient(to right, #414f7c, #28324d);
 
    border-radius: 5px;
}

.GetCallButton:hover {
    background: linear-gradient(to right, #3166f8, #7090fa);
    
}
 

.rating .fa-star {
    color: gold;
}
ul {
    list-style-type: none;
    
  }
  .FQA{
background-color: #19284e;
  }
  .FQABody{
    position: relative;
    top: 50px;
    left: 50px;
  }
  .facebookIcon{
    background-color:rgb(141, 162, 214)d;
  }
 


 